.DS_Store
.vscode/
*.log
node_modules/
app/config/
app/logs/
app/cache/*
app/output/*
app/image/*
shell/testdata/data/
shell/build/target/*
shell/build/x64/*
shell/build/ia32/*
shell/build/script/Autosave/*
