
/*工具添加的图层样式 {*/
.map_layer{
	cursor: move;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.off.map_layer{
	z-index: 1;
}
.layer_text span{
	display: inline-block;
	width: 100%;
	min-width: 30px;
}
.map_layer:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #00b7ee;
	left: -2px;
	top: -2px;
}
.map_layer.off:after{
	display: none;
}
.map_layer.off .ui-resizable-handle{
	border: none;
	background: none;
}
.map_layer .ui-resizable-handle{
	width: 6px;
	height: 6px;
	background-color: #00b7ee;
}
.map_layer .ui-resizable-n,
.map_layer .ui-resizable-s{
	left: 50%;
	margin-left: -1px;
}
.map_layer .ui-resizable-e,
.map_layer .ui-resizable-w{
	top: 50%;
	margin-top: -3px;
}
.map_layer .ui-resizable-se{
	right: -5px;
	bottom: -5px;
}
.map_layer .ui-resizable-ne,
.map_layer .ui-resizable-se,
.map_layer .ui-resizable-e{
	margin-right: 2px;
}
.map_layer .ui-resizable-ne,
.map_layer .ui-resizable-s,
.map_layer .ui-resizable-sw{
	margin-bottom: 2px;
}
.layer_img img{
	width: 100%;
	height: 100%;
}
.map_layer .handle{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 19;
}
.map_layer .text{
	position: absolute;
	left: 10px;
	top: 10px;
	overflow: hidden;
	z-index: 2;
}
.drag_handle{
    width: 6px;
    height: 6px;
    position: absolute;
    margin-top: -4px;
    margin-left: -5px;
    background-color: yellow;
    border: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    cursor: default;
    z-index: 2;
}
.off .ui-rotatable-handle{
	display: none;
}
.map_layer .ui-rotatable-handle{
	background-color: #00b7ee;
	z-index: 201;
}
.map_layer .ui-rotatable-handle:after{
	background-color: #00b7ee;
	border: none;
	left: -4px;
}
/*工具添加的图层样式 }*/