#main{
	height: 100%;
}
.top_container{
	height: 59px;
	width: 100%;
	color: #aeaeae;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/bg_top.png) left center repeat-x;
	background-size: auto 90px;
	border-bottom: 1px solid #3f4d52;
}
.top_container .titlebar{
	position: absolute;
	width: auto;
	left: 10px;
	right: 260px;
	height: 90%;
	top: 5%;
}
/*#btn_quite{
	position: absolute;
	right: 20px;
	bottom: 20px;
	background: url(../img/icon_logout.png) no-repeat;
	width: 44px;
	height: 24px;
	border: none;
	box-shadow: none;
}*/
.c_bottom{
	position: absolute;
	height: auto;
	left: 0;
	top: 60px;
	bottom: 0;
	width: 100%;
}
#c_left{
	position: absolute;
	z-index: 9;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: #303030;
	box-shadow: 1px 0 1px rgba(0,0,0,0.38)
}
#c_right{
	position: absolute;
	top: 0;
	left: 300px;
	overflow: auto;
	background-color: #242424;
	width: auto;
	height: 100%;
	right: 0;
}
#c_top{
	background-color: #2e3035;
	overflow: hidden;
	height: 40px;
	width: 100%;
	box-shadow: 0 3px 3px #ccc;
	position: relative;
	font-size: 12px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
	position: fixed;
	z-index: 1;
}
#c_top:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #25262a;
}
#c_top:after{
	content: '';
	position: absolute;
	left: 1px;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #37383c;
}
.btns_top{
	padding-left: 25px;
	height: 40px;
	line-height: 40px;
	background-position: center left;
	background-repeat: no-repeat;
	margin: 0 20px;
	color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
}
.btns_top span{
	text-align: center;
	display: inline-block;
}
#btn_add_text{
	background-image: url(../img/icon_text.png);
}
#btn_add_img,
#btn_add_img_external{
	background-image: url(../img/icon_img.png);
}
#btn_export{
	background-image: url(../img/icon_export.png);
}
#tree{
	margin: 10px 0;
	color: #ccc;
}
#geomap_container{
	width: 800px;
	height: 800px;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	overflow: hidden;
	/*margin: 30px 0 0 30px;*/
	box-shadow: 0 0 5px #bbc2c9;
	background-color: white;
}
.no_inited:after {
	content: '请双击左侧产品';
	width: 300px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 50%;
	margin-top: -15px;
	font-size: 40px;
	text-shadow: 3px 2px 2px #ccc;
	z-index: 0;
}
#geomap_container .loading{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 90;
	width: 100%;
	height: 100%;
}
#geomap_container .loading div{
	width: 120px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 50%;
	margin-top: -15px;
	border: 1px solid #ccc;
	background-color: white;
	text-align: center;
}
.geomap_mirror{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/*opacity: 0.5;*/
}
#geomap{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
#geomap.mirror{
	opacity: 0;
}

.map_tool{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 201;
	background-color: #494949;
	padding: 10px;
	display: none;
}

#work_container{
	position: absolute;
	top: 10px;
	bottom: 10px;
	left: 80px;
	right: 10px;
	width: auto;
	height: auto;
	overflow: auto;
}
/* 添加图片用和图片工具 ｛ */
.tool_image{
	position: absolute;
	right: 310px;
	top: 1px;
	width: 300px;
	height: 100%;
	background: #3d424e;
	/*border: 1px solid rgba(185,193,200,0.6);*/
	display: none;
	overflow-y: auto;
	/*box-shadow: -2px 0 2px rgba(185,193,200,0.1);*/
}
.tool_image select{
	border: 1px solid rgba(185,193,200,0.6);
	width: 270px;
	border-radius: 8px 8px 0 0;
	height: 30px;
	display: block;
}
.btn_close_tool_image{
	width: 100%;
	height: 40px;
	background: url(../img/arrow_top.png) no-repeat center center;
}

.tool_image li{
	float: left;
	width: 50%;
	margin: 0px auto;
	text-align: center;
}
.tool_image li img{
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}
.tool_image li span{
	height: 40px;
	line-height: 20px;
	display: inline-block;
	word-break: break-all;
}
.tool_image_main{
	background-color: rgba(255,255,255,0.2);
	width: 270px;
	margin: 0 auto;
	border-radius: 8px;
	color: white;
}
.tool_image_main ul{
	margin-top: 10px;
}
.list_container{
	overflow-y: auto;
}
/* ｝ 添加图片用和图片工具 */


/*工具添加的图层样式 {*/
.map_layer{
	cursor: move;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}
.off.map_layer{
	z-index: 1;
}
.layer_text span{
	display: inline-block;
	width: 100%;
	min-width: 30px;
}
.map_layer:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #00b7ee;
	left: -2px;
	top: -2px;
}
.map_layer.off:after{
	display: none;
}
.map_layer.off .ui-resizable-handle{
	border: none;
	background: none;
}
.map_layer .ui-resizable-handle{
	width: 6px;
	height: 6px;
	background-color: #00b7ee;
}
.map_layer .ui-resizable-n,
.map_layer .ui-resizable-s{
	left: 50%;
	margin-left: -1px;
}
.map_layer .ui-resizable-e,
.map_layer .ui-resizable-w{
	top: 50%;
	margin-top: -3px;
}
.map_layer .ui-resizable-se{
	right: -5px;
	bottom: -5px;
}
.map_layer .ui-resizable-ne,
.map_layer .ui-resizable-se,
.map_layer .ui-resizable-e{
	margin-right: 2px;
}
.map_layer .ui-resizable-ne,
.map_layer .ui-resizable-s,
.map_layer .ui-resizable-sw{
	margin-bottom: 2px;
}
.layer_img img{
	width: 100%;
	height: 100%;
}
/*工具添加的图层样式 }*/

#tree .bbit-tree-arrows .bbit-tree-elbow-end-minus,
#tree .bbit-tree-arrows .bbit-tree-elbow-plus,
#tree .bbit-tree-arrows .bbit-tree-elbow-minus,
#tree .bbit-tree-arrows .bbit-tree-elbow-end-plus,
#tree .bbit-tree-arrows .bbit-tree-elbow-end-minus{
	background-image: url(../img/jquery.tree/arrows_main.gif);
}
#tree .bbit-tree-node a span{
	color: white;
	line-height: 25px;
}
#tree>.bbit-tree-bwrap> .bbit-tree-body>ul>li>div a span{
	font-size: 16px;
}
#tree .bbit-tree-node .bbit-tree-selected{
	background-color: #32689c;
}
#tree .bbit-tree-node-el{
	padding-left: 40px;
}
#tree .bbit-tree-node .bbit-tree-node-over{
	background-color: rgba(40, 40, 40, 0.3);
}
/*#tree .bbit-tree-arrows .bbit-tree-elbow-end-minus,*/
#tree .bbit-tree-arrows .bbit-tree-elbow-end-minus{
	background-position: -16px 3px;
}
#tree .bbit-tree-arrows .bbit-tree-elbow-plus,
#tree .bbit-tree-arrows .bbit-tree-elbow-end-plus{
	background-position: 0 3px;
}

.user_info{
	border-left: 1px solid #eeefef;
	border-right: 1px solid #eeefef;
	padding: 0 15px;
	position: relative;
	z-index: 100;
	cursor: pointer;
}

.logo{
	width: 320px;
	height: 100%;

	margin-left: 30px;
	background: url(../img/login_logo.png) left center no-repeat
}
.user_icon{
	height: 30px;
}
.user_icon img{
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
.top_right{
	margin-right: 20px;
}
#user_name{
	margin-left: 10px;
	line-height: 30px;
}
#btn_setting{
	background: url(../img/bg_setting.png) no-repeat center left;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
	cursor: pointer;
}
#btn_slide{
	width: 11px;
	height: 7px;
	background: url(../img/arrow.png) no-repeat center center;
	transform: rotate(180deg);
	margin-top: 11px;
	margin-left: 10px;
	transition: all 0.5s;
}
#btn_slide.open{
	transform: rotate(0deg);
}
#slide_down{
	display: none;
	position: absolute;
	width: 100%;
	padding: 1px;
	left: 0px;
	top: 25px;
}
#slide_down div{
	height: 14px;
}
#slide_down ul{
	background-color: white;
	border-radius: 0 0 8px 8px;
	border: 1px solid #d5d6d7;
}
#slide_down li{
	color: #aeaeae;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
	border-bottom: 1px solid #d5d6d7;
}
#slide_down li:last-child{
	border: none;
}
#slide_down li:hover{
	color: #16a8de;
}

.btns_main{
	margin-left: 60px;
}
.btns_main div{
	background-image: url(../img/btn_main.png);
	background-repeat: no-repeat;
	width: 51px;
    height: 22px;
	cursor: pointer;
}
.btns_main .btn_setting{
	background-position: -2px -80px;
	margin-right: 20px;
	position: relative;
}
.btn_setting:active{
	background-position: -2px -28px;
}
.btns_main .btn_min{
	width: 50px;
	background-position: -2px -158px;
}
.btn_min:active{
	background-position: -2px -132px;
}
.btns_main .btn_max{
	width: 49px;
	background-position: -2px -106px;
}
.btn_max:active{
	background-position: -2px -184px;
}
.btns_main .btn_close_main{
	background-position: -2px -54px;
}
.btn_close_main:active{
	background-position: -2px -2px;
}
.btn_setting ul{
	background-color: #2c2c2c;
	border: 1px solid #141414;
	width: 100px;
    text-align: center;
    position: absolute;
    top: 22px;
    z-index: 1001;
    left: 0px;
	color: white;
	display: none;
}
.btn_setting ul li{
	border: 1px solid #383838;
	border-top: 1px solid #1f1f1f;
	border-bottom: 1px solid #4b4b4b;
	padding: 3px 0;
	position: relative;
}
.btn_setting ul li:hover{
	text-shadow: 1px 1px 1px #fff;
}
.btn_setting ul li:hover:after{
	content: '';
	position: absolute;
	width: auto;
	height: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border: 1px solid #4db6da;
	background: linear-gradient(to bottom, #4e7c8b 0%,#1d5668 100%);
	border-radius: 5px;
	z-index: -1;
}

.map_layer_box_c{
	position: absolute;
	left: -9999px;
	top: -9999px;
	width: 100%;
	height: 100%;
	/*opacity: 0;*/
}
.cover .map_layer_box_c{
	left: 0;
	top: 0;
}

.mirror_layer_box{
	position: absolute;
	left: 0;
	top: 0;
}
.map_layer .handle{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 19;
}
/*.cover .mirror_layer_box{
	display: none;
}*/
.map_layer .text{
	position: absolute;
	left: 10px;
	top: 10px;
	overflow: hidden;
	z-index: 2;
}
.drag_handle{
    width: 6px;
    height: 6px;
    position: absolute;
    margin-top: -4px;
    margin-left: -5px;
    background-color: yellow;
    border: 1px solid #ccc;
    -webkit-transform: rotate(45deg);
    cursor: default;
    z-index: 2;
}
.off .ui-rotatable-handle{
	display: none;
}
.map_layer .ui-rotatable-handle{
	background-color: #00b7ee;
}
.map_layer .ui-rotatable-handle:after{
	background-color: #00b7ee;
	border: none;
	left: -4px;
}

#zoom_notice{
	position: absolute;
	left: 30px;
	top: 0;
	height: 30px;
	line-height: 30px;
	display: none;
}
resize-horizontal{
	position: absolute;
	left: 297px;
	top: 0;
	height: 100%;
	width: 6px;
	/*background-color: rgba(255, 0, 0, 0.5);*/
	cursor: ew-resize;
	z-index: 10;
}
#geomap{
	cursor: default;
}
#geomap.move{
	cursor: url(../img/openhand.cur) 8 8, default !important;
}
#geomap.dragging{
	cursor: url(../img/closedhand.cur) 8 8, move !important;
}
#geomap.zoomin{
	cursor: zoom-in !important;
}
#geomap.zoomout{
	cursor: zoom-out !important;
}
#geomap.nodrag{
	cursor: default !important;
}
.vakata-context{
	z-index: 1001;
}

/*rewrite jstree {*/
.jstree{
	color: #ccc;
}
.jstree > ul > li > a{
	font-size: 20px;
}
.jstree > ul > li > ul > li{
	font-size: 17px;
	position: relative;
}
.jstree > ul > li > ul > li:before,
.jstree > ul > li > ul > li:after{
	content: '';
	position: absolute;
	height: 1px;
	width: auto;
	background-color: #111111;
	bottom: -1px;
	left: 0;
	right: 10px;
}
.jstree > ul > li > ul > li:after {
	background-color: #4f4f4f;
	bottom: -2px;
}
.jstree > ul > li > ul > li > ul > li{
	font-size: 15px;
}
.jstree.jstree-default > .jstree-no-dots > li > .jstree-ocl{
	display: none;
}
.jstree.jstree-default > .jstree-no-dots > li > a .folder{
	background: none;
	width: 10px;
}
.jstree.jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl{
	background: url(../img/tree_minus.png) center center no-repeat;
}
.jstree.jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl{
	background: url(../img/tree_plus.png) center center no-repeat;
}
.jstree-default .jstree-icon.folder{
	background: url(../img/tree_folder.png) center center no-repeat;
}
.jstree-default .jstree-icon.file{
	background: url(../img/tree_file.png) center center no-repeat;
}
.jstree.jstree-default .jstree-node{
	margin-left: 10px;
	padding: 5px 0;
	position: relative;
}

.jstree-default a.jstree-hovered,
.jstree-default a.jstree-clicked{
	background: none;
	border: none;
	box-shadow: none;
}
.jstree-default >ul>li>a.jstree-hovered:after{
	display: none;
}
.jstree-default a.jstree-hovered:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 20px;
	right: 20px;
	width: auto;
	height: 30px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #494949 0%,#424242 100%);
	border-top: 1px solid #898989;
	border-bottom: 1px solid #111111;
	z-index: -1;
}

.jstree-default a.jstree-clicked:after{
	content: '';
	position: absolute;
	top: 4px;
	left: 20px;
	right: 20px;
	width: auto;
	height: 26px;
	border-radius: 5px;
	background: linear-gradient(to bottom, #232323 0%,#2c2c2c 100%);
	border-top: 1px solid #111111;
	border-bottom: 1px solid #898989;
	z-index: -1;
}
/*rewrite jstree }*/

.toolbar{
	width: 58px;
	border: 1px solid #404040;
	background-color: #2b2b2b;
	margin: 0 10px;
	position: absolute;
	top: 10px;
	bottom: 10px;
	height: auto;
	overflow-y: auto;
	text-align: center;
}
.toolbar_title{
	border-bottom: 1px solid #404040;
	padding: 3px 0;
	color: white;
	background: linear-gradient(to bottom, #454849 0%,#0b0c0c 100%);
	position: relative;
}
.toolbar_title:after{
	content: '';
	position: absolute;
	width: 4px;
	height: 60%;
	top: 20%;
	left: 0;
	background-color: #26c9ff;
}
.toolbar_btn{
	width: 28px;
	height: 28px;
	display: inline-block;
	margin: 3px auto;
	cursor: pointer;
	border: 1px solid rgba(0, 0, 0, 0);
	padding: 4px;
	position: relative;
}
.toolbar_btn:hover,
.toolbar_btn.on{
	background: linear-gradient(to bottom, #494949 0%,#414141 100%);
	border-radius: 3px;
	border-top: 1px solid #898989;
	border-bottom: 1px solid #0f0f0f;
}
.toolbar_btn.on{
	background: linear-gradient(to bottom, #232323 0%,#2c2c2c 100%);
	border-top: 1px solid #0f0f0f;
	border-bottom: 1px solid #898989;
}
.toolbar_split{
	width: 80%;
	margin: 3px auto;
	border-top: 1px solid #1f1f1f;
	border-bottom: 1px solid #4b4b4b;
}
