#shanxi_txt_command{
	width: calc(100% - 100px);
	height: 200px;
	line-height: 20px;
}
tab-content{
	bottom: 60px;
	overflow: auto;
}
.btns_bottom{
	position: absolute;
	left: 0;
	bottom: 10px;
	height: 40px;
	width: 100%;
    text-align: center;
}
tab-content>item{
	padding: 10px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: auto;
	left: 0;
	right: 0;
}
.row{
	margin: 10px 0;
	position: relative;
}
label{
	vertical-align: top;
}
