.ds_ib{
	display: inline-block;
}
#shanxi_txt_command{
	width: calc(100% - 110px);
	height: 200px;
	line-height: 20px;
}
tab-content{
	bottom: 60px;
	overflow: auto;
}
.btns_bottom{
	position: absolute;
	left: 0;
	bottom: 10px;
	height: 40px;
	width: 100%;
    text-align: center;
}
tab-content>item{
	padding: 10px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	width: auto;
	left: 0;
	right: 0;
}
.row{
	margin: 10px 0;
	position: relative;
}
.file_rule li{
	margin: 10px 0;
}
.file_rule li:first-child{
	margin-top: 0;
}
label{
	vertical-align: top;
}
.file_rule_prefix{
	width: 100px;
	display: inline-block;
}
#file_dir_in{
	width: 568px;
}
#text_file_rule_custom{
	width: 537px;
}
#select_file_rule_common_date{
	width: 140px;
}
#select_value_col{
	width: 360px;
}
#select_value_arithmetic{
	width: 70px;
}
#s_data_type{
	width: 88px;
}
#text_file_rule_common_prefix,
#text_file_rule_common_postfix{
	width: 129px;
}
#file_rule_example{
	margin-left: 5px;
	color: #bbb;
	margin-bottom: 10px;
	font-size: 12px;
	display: inline-block;
}
#file_rule_example span{
	text-decoration: underline;
}

input[type=checkbox] + label{
	padding-left: 20px;
}

.desc{
	font-size: 12px;
	color: #eee;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	position: relative;
	padding-bottom: 20px;
}
.desc:after{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	content: '点击查看更多>>';
	background-color: #313131;
}
.desc.show{
	height: auto;
}
.desc.show:after{
	content: '点击收起';
}
.asset{
	margin: 5px 0;
}
.editText{
	width: calc(100% - 20px);
	position: static;
}
.ui-edit-size{
	overflow: hidden;
}
.editText textarea{
	width: calc(100% - 20px);
	color: #000000;
}
.editText .ui-edit-btn{
	margin: 0 8px;
}
.editText [type=number]{
	margin-left: 5px;
	width: calc(100% - 35px);
}
.editText .col4:last-child [type=number]{
    width: calc(100% - 72px);
}

.asset_list input[type=checkbox] + label{
	padding-left: 25px;
}
#file_dir_out{
	width: 568px;
}
#text_filename_out{
	width: 563px;
}
.btn_dele_asset{
	/*position: absolute;*/
	right: 2px;
	top: 50%;
	margin-top: -6px;
	display: inline-block;
	background: url(../img/icon_delete.png);
	width: 13px;
	height: 13px;
	background-size: 100%;
}
.asset_imgs{
	border-bottom: 1px solid #0a0a0a;
	margin-bottom: 15px;
}
.asset_imgs .checkbox{
	margin-left: 5px;
	margin-right: 10px;
}
.asset_imgs ul{
	width: 100%;
	overflow: hidden;
}
.asset_imgs li{
	float: left;
	width: 16.66%;
	text-align: center;
	margin: 10px;
}
.asset_imgs img{
	width: 90px;
	height: 90px;
	display: block;
	background-color: #212121;
	border: 1px solid #464646;
	margin: 0 auto;
	margin-bottom: 4px;
}
.asset_texts li{
	/*float: left;
	width: 50%;*/
	margin: 10px 0;
}
.asset_texts li textarea{
	min-height: 60px;
	width: calc(100% - 70px);
	line-height: 20px;
	background-color: #212121;
	border: 1px solid #464646;
	border-radius: 0;
}
.asset_texts .checkbox{
	margin-top: 6px;
	margin-bottom: 10px;
}
.asset_title{
	font-size: 18px;
}
.sys_asset .btn_dele_asset{
	background: none;
}
.row .row {
    margin-left: 20px;
    color: #b7b7b7;
}