.list{
	width: 100px;
	height: 100%;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
}
.list li{
	margin: 5px;
	cursor: pointer;
	padding: 3px;
}
.list li.on{
	background-color: #ccc;
}
.content{
	position: absolute;
	left: 100px;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	height: auto;
}
.content .wrap {
	margin: 10px;
	position: relative;
}

.map_left{
	position: absolute;
	left: 0;
	right: 200px;
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	padding: 10px;
	overflow: auto;
}
.map_right{
	position: absolute;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}
.map_item{
	border: 1px dotted #ccc;
	margin: 10px auto;
	position: relative;
	margin-top: 40px;
}
.map_item .btns{
	position: absolute;
	left: 0px;
	top: -26px;
}
.row{
	margin: 5px;
}
.row .row{
	margin-left: 20px;
}
#form_legend input[type=number]{
	width: 40px;
	margin: 0 3px;
}
.legend_value table input[type=number]{
	width: 50px;
	background: rgba(0, 0, 0, 0);
	border: none;
	text-align: center;
}

#map_conf_list .default{
	color: red;
}
