tab-content item resize-horizontal{
	left: 160px;
}
.list{
	width: 160px;
	height: 100%;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
}
.list li{
	margin: 5px;
	cursor: pointer;
	padding: 3px;
	overflow: hidden;
	position: relative;
}
.list li.on{
	background-color: #54667d;
}
.list li input{
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -6px;
}
.list li label{
	padding-left: 16px;
	padding-right: 16px;
	display: block;
}
.list li span{
	position: absolute;
	right: 2px;
	top: 50%;
	margin-top: -6px;
	display: inline-block;
	background: url(../img/icon_delete.png);
	width: 11px;
	height: 12px;
}
#blendent_conf_list li label{
	padding-left: 3px;
}
.content{
	position: absolute;
	left: 160px;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	height: auto;
}
.content .wrap {
	margin: 10px;
	position: relative;
}

.map_left{
	position: absolute;
	left: 0;
	right: 200px;
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	padding: 10px;
	overflow: auto;
}
.map_right{
	position: absolute;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}
.map_item{
	border: 1px dashed #676767;
	margin: 10px auto;
	position: relative;
	margin-top: 40px;
	margin-bottom: 60px;
}
.map_item .btns{
	position: absolute;
	right: 0px;
	top: -26px;
}
.map_item .ui-file{
	width: calc(100% - 40px);
}
.map_item [type=range]{
	width: 100px;
}
.map_item .col2{
	width: 50%;
}
.file_name{
	position: absolute;
	left: 0;
	top: -26px;
}
.row{
	margin: 10px;
}
.row .row{
	margin-left: 20px;
	color: #b7b7b7;
}
#form_legend input[type=number]{
	width: 40px;
	margin: 0 3px;
}
.legend_value table input[type=number]{
	width: 50px;
	background: rgba(0, 0, 0, 0);
	border: none;
	text-align: center;
}

.list .default{
	color: #26c9ff;
}
#btn_add_map_conf,
#btn_add_blendent_conf,
.btn_add_big{
	width: 70%;
	margin: 20px auto;
	margin-left: 15%;
	background: linear-gradient(to bottom, #494949 0%, #414141 100%);
}
.middle{
	text-align: center;
}
input[type=range]+span{
	display: inline-block;
	width: 20px;
}
input[type=checkbox] + label{
	padding-left: 20px;
}
.lnglat [type=text]{
	width: 120px;
}
.map_text input{
	margin-left: 5px;
	width: 60px;
}
#c_map_text{
	width: 67px;
}
fieldset{
	border: 1px dashed #676767;
	position: relative;
	margin-top: 30px;
}
legend{
	position: absolute;
	top: -25px;
	left: 0;
	width: 100%;
}
.btn_dele_lengend{
	position: absolute;
	right: 4px;
}
.legend_value{
	color: #b7b7b7;
}
.legend_value .col{
	width: 20%;
}
#select_legent_product{
	margin-left: 20px;
}

.table_sys_size{
	width: 96%;
	margin-left: 2%;
}
.btn_dele_sys_size{
	display: inline-block;
	background: url(../img/icon_delete.png);
	width: 11px;
	height: 12px;
	cursor: pointer;
}
.btns_sys_size_wrap{
	width: 50%;
	margin: 10px auto;
}
.btns_sys_size_wrap .btn_add_big{
	width: 30%;
	margin: 10px 8% ;
}
input.txt_sys_size,
input.txt_sys_size:focus{
	border: none;
	background: none;
}
.txt_sys_size_width{
	text-align: right;
	margin-right: 3px;
	width: 40%;
}
.txt_sys_size_height{
	text-align: left;
	margin-left: 3px;
	width: 40%;
}
.txt_sys_size_name{
	width: 100%;
    text-align: center;
}

/*资源管理 {*/
.asset_list input[type=checkbox] + label{
	padding-left: 25px;
}
.btn_dele_asset{
	right: 2px;
	top: 50%;
	margin-top: -6px;
	display: inline-block;
	background: url(../img/icon_delete.png);
	width: 13px;
	height: 13px;
	background-size: 100%;
}
.asset_imgs{
	border-bottom: 1px solid #0a0a0a;
	margin-bottom: 15px;
}
.asset_imgs .checkbox{
	margin-left: 5px;
	margin-right: 10px;
}
.asset_imgs ul{
	width: 100%;
	overflow: hidden;
}
.asset_imgs li{
	float: left;
	width: 16.66%;
	text-align: center;
	margin: 10px;
}
.asset_imgs img{
	width: 90px;
	height: 90px;
	display: block;
	background-color: #212121;
	border: 1px solid #464646;
	margin: 0 auto;
	margin-bottom: 4px;
}
.asset_texts li{
	margin: 10px 0;
}
.asset_texts li textarea{
	min-height: 60px;
	width: calc(100% - 70px);
	line-height: 20px;
	background-color: #212121;
	border: 1px solid #464646;
	border-radius: 0;
}
.asset_texts .checkbox{
	margin-top: 6px;
	margin-bottom: 10px;
}
.asset_title{
	font-size: 18px;
}
/*资源管理 }*/

/*系统模板 {*/
.template_info{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: auto;
	overflow: auto;
	width: 200px;
	text-align: center;
}
.template_main{
	position: absolute;
	left: 200px;
	right: 0;
	width: auto;
	top: 0;
	bottom: 0;
	overflow: auto;
}
.template_assets{
	width: 800px;
	height: 800px;
	background-color: white;
	margin: 10px;
	position: relative;
}
/*系统模板 }*/