.main{
	width: 100%;
	margin: 0 auto;
}

tab{
	width: 100%;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	float: left;
	height: 30px;
	line-height: 30px;
}
tab item{
	float: left;
	border-bottom: 2px solid rgba(0, 0, 0, 0);
	position: relative;
	min-width: 100px;
	text-align: center;
	cursor: pointer;
	height: 28px;
}
tab item.on{
	border-bottom-color: red;
}
tab item:after {
	content: '';
	position: absolute;
	right: -1px;
	top: 10%;
	height: 80%;
	border-right: 1px solid #ccc;
}

tab-content{
	position: absolute;
	top: 30px;
	bottom: 0;
	left: 0;
	height: auto;
	width: 100%;
}
tab-content item{
	position: relative;
	display: none;
	height: 100%;
	overflow: auto;
}
tab-content item.on{
	display: block;
}
tab-content item resize-horizontal{
	position: absolute;
	height: 100%;
	width: 6px;
	cursor: ew-resize;
	z-index: 10;
	left: 100px;
	top: 0;
}
tab-content item resize-horizontal:after{
	content: '';
	position: absolute;
	border: 1px solid #ccc;
	left: 2px;
	top: 10px;
	bottom: 10px;
	height: auto;
}
.list{
	width: 100px;
	height: 100%;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
}
.list li{
	margin: 5px;
	cursor: pointer;
	padding: 3px;
}
.list li.on{
	background-color: #ccc;
}
.content{
	position: absolute;
	left: 100px;
	right: 0;
	top: 0;
	bottom: 0;
	width: auto;
	height: auto;
}
.content .wrap {
	margin: 10px;
	position: relative;
}

.map_left{
	position: absolute;
	left: 0;
	right: 200px;
	width: auto;
	height: auto;
	top: 0;
	bottom: 0;
	padding: 10px;
	overflow: auto;
}
.map_right{
	position: absolute;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.1);
}
.map_item{
	border: 1px dotted #ccc;
	margin: 10px auto;
	position: relative;
	margin-top: 40px;
}
.map_item .btns{
	position: absolute;
	left: 0px;
	top: -26px;
}
.row{
	margin: 5px;
}
.row .row{
	margin-left: 20px;
}
.fieldset_color input{
	width: 80px;
}