* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[draggable=true] {
  -khtml-user-drag: element;
}
/*https://github.com/atom/electron/blob/c7d9352972ff5c90733a3ce0eb3add86fd101905/docs/api/frameless-window.md*/
.titlebar {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}
html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    padding: 0px;
    margin: 0px;
    border: 0;
    color: #252525;
    /*-webkit-font-smoothing: antialiased;*/
    /*background: -webkit-gradient(linear,0 0, 0 100%, color-stop(0,black), color-stop(0.8, rgb(150,150,150)), color-stop(1, rgb(200,200,200)));*/
}

/*对表单元素进行中文处理*/
body,
input, textarea, select, button{
    letter-spacing: 1px;
    font: 14px/1.6 "Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体";
}
input[type=text],
input[type=color],
input[type=date],
input[type=time],
input[type=number],
input[type=password],
input[type=date],
textarea,
.ui-select,
.ui-file{
    background-color: #212121;
    border: 1px solid #212121;
    border-bottom: 1px solid #484848;
    height: 20px;
    line-height: 20px;
    /*border-radius: 3px;*/
    padding: 2px 10px;
    color: #b7b7b7;
}
input[type=text]:focus,
input[type=date]:focus,
input[type=time]:focus,
input[type=number]:focus,
input[type=password]:focus,
textarea:focus{
    border: 1px solid #4c9bb6;
}
textarea{
    border-radius: 8px;
}
input[type=text],
input[type=number],
input[type=password]{
    padding-left: 3px;
    padding-right: 3px;
}

select{
    border: 1px solid #d4e3f2;
    border-radius: 3px;
    height: 24px;
    line-height: 24px;
}
input[type=checkbox],
input[type=radio]{
    vertical-align: -2px;
    margin-left: 1px;
}
input[type=text]:hover, textarea:hover{
    cursor: text;
}
input[type="color"] {border-radius: 3px; border: 6; padding: 0;}
/*::-webkit-color-swatch-wrapper {width: 100%;}
::-webkit-color-swatch {width: 100px;  position:relative; left: -2px; top: -2px; background-color: green;}*/
/*去掉得到焦点时的黄色边框*/
.no_outline,
input,button,select,textarea,
[contenteditable=true]{outline:none}
/*重置按钮样式*/
input[type=button],
button{
    background-image: linear-gradient(to bottom, #363636 0%, #2e2e2e 100%);
    border: none;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #101010;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    color: white;
}
input[type=button]:hover,
button:hover{
    background-image: linear-gradient(to bottom, #2e2e2e 0%, #363636 100%);
}
input[disabled]{
    background-color: #444444;
    color: #99999;
}
/*input[type=button].big,
button.big{
    font-size: 14px;
    color: white;
    background-color: #32689c;
    padding: 5px 0;
    box-shadow: 0 2px 3px #97abc4;
}*/
input[type=button].btn_big,
button.btn_big{
    width: 150px;
    height: 38px;
    line-height: 35px;
    background-image: linear-gradient(to bottom, #494949 0%, #414141 100%);
    font-size: 18px;
}
input[type=button].btn_big:hover,
button.btn_big:hover{
    background-image: linear-gradient(to bottom, #414141 0%, #494949 100%);
}
/*重写checkbox样式 {*/
.checkbox{
    display: inline-block;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label{
    position: relative;
    display: inline-block;
    padding-left: 16px;
    min-height: 16px;
}
input[type=checkbox] + label:after,
input[type=checkbox]:checked + label:before{
    content: '';
    position: absolute;
    left: 0px;
    width: 12px;
    height: 12px;
    top: 4px;
}
input[type=checkbox] + label:after{
    border: 1px solid #999;
    /*border: 1px solid #d4e3f2;*/
    border-radius: 2px;
    box-shadow: inset 0 0 10px #191b1b;
}
input[type=checkbox]:checked + label:before{
    z-index: 1;
    left: 2px;
    top: 5px;
    width: 10px;
    height: 10px;
    background: url(../img/cb_flag.png) center center no-repeat;
    background-size: 100%;
}
.labelbefore input[type=checkbox] + label{
    padding-left: 0;
    padding-right: 16px;
}
.labelbefore input[type=checkbox] + label:after,
.labelbefore input[type=checkbox]:checked + label:before{
    left: auto;
    right: 0;
}
.labelbefore input[type=checkbox]:checked + label:before{
    right: 2px;
}
/*重写checkbox样式 }*/
.radio{
    display: inline-block;
}
input[type=radio]{
    position: relative;
}
input[type=radio]:after{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    content: '';
    background: url(../img/bg_radio.png) center center no-repeat;
    background-size: 100% 100%;
    border: 1px solid #5c5c5c;
    border-radius: 50%;
    background: linear-gradient(to bottom, #242324 0%, #3c3b3c 100%);
}
input[type=radio]:checked:before{
    position: absolute;
    left: 3px;
    bottom: 3px;
    top: 3px;
    right: 3px;
    width: auto;
    height: auto;
    content: '';
    border-radius: 50%;
    background-color: #26c9ff;
    z-index: 1;
}
/*不可放大缩小*/
textarea{resize:none}

ul,ol{
    /*
    IE6 IE7 IE8(Q) 中如果列表元素设置 'list-style-type:none' 时 'list-style-position:inside' 设置产生的标记框不消失，依然占据布局位置。
    http://www.w3help.org/zh-cn/causes/RG1002
    */
    list-style:outside none none;
    padding: 0;
    margin: 0;
}
/*重写table样式 {*/
table{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    border-spacing: 0;
    width: 90%;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #000;
    /*border-top: 1px solid #999999;*/
}
td, th{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
td:first-child,
th:first-child{
    border-left: none;
}
th{
    height: 26px;
    line-height: 26px;
    background: linear-gradient(to bottom, #595959 0%, #373737 50%, #2f2f2f 100%);
    border-top: none;
    font-weight: normal;
    box-shadow: inset 0 0 1px #999999;
}
tr:nth-child(2n) td{
    background-color: #2d2d2d;
}
tr:nth-child(2n+1) td{
    background-color: #3e3e3e;
}
/*重写table样式 }*/

.bd_top{
    border-top: 1px solid #c9c9c9;
}
.bd_bottom{
    border-bottom: 1px solid #c9c9c9;
}
.p_bottom10{
    padding-bottom: 10px;
}
.cursor_help{
    cursor: help;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
    overflow: hidden;
}
.mt10{
    margin-top: 10px;
}
.mt20{
    margin-top: 20px;
}

/* 图例 { */
.legend_tmp{
    position: relative;
    left: 100%;
    top: 100%;
    z-index: -100;
    /*top: 0;*/
    width: 100%;
    height: 100%;
    min-width: 1024px;
}
.legend_landscape{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}
.legend_landscape ul{
    overflow: hidden;
}
.legend_landscape li{
    float: left;
    height: 30px;
    width: 12.5%;
}
.legend_landscape li div{
    background-color: red;
    width: 100%;
    height: 100%;
}
.legend_landscape li span{
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-top: -30px;
}

.legend_portrait{
    position: relative;
    overflow: hidden;
    width: auto;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}
.legend_portrait>div{
    overflow: hidden;
}
.legend_portrait>div span{
    width: 45%;
    margin-right: 20px;
    float: left;
    height: 100%;
}
.legend_portrait ul{
    float: left;
    margin-right: 20px;
}
.legend_portrait li{
    text-align: center;
    margin-bottom: 2px;
    height: 16px;
    line-height: 16px;
}
.legend_portrait li div{
    float: left;
    width: 30px;
    height: 100%;
    background-color: red;
    margin-right: 2px;
}
/* } 图例 */

.logo_normal{
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.logo_black{
    background-image: url(../img/logo_black.png);
    background-repeat: no-repeat;
    background-position: center center;
}
.main{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.br3{
    border-radius: 3px;
}
.br5{
    border-radius: 5px;
}
.br10{
    border-radius: 10px;
}

.ui-file{
    display: inline-block;
    width: 200px;
    height: 26px;
    padding: 0;
    position: relative;
    vertical-align: middle;
}
.ui-file [type=text]{
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}
.ui-file .btn_file_browse{
    position: absolute;
    right: 3px;
    top: 50%;
    width: 27px;
    height: 20px;
    margin-top: -10px;
    background: url(../img/icon_file.png) no-repeat center center;
}
.ui-select{
    display: inline-block;
    position: relative;
    height: 20px;
    line-height: 20px;
    padding: 2px 10px;
    min-width: 40px;
    vertical-align: middle;
    padding-right: 16px;
}
.ui-select .ui-select-val{
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #b7b7b7;
}
.ui-select.disable{
    color: #ccc;
}
.ui-select .ui-select-val:after{
    content: "";
    position: absolute;
    margin: auto;
    right: 0;
    height: 0;
    width: 0;
    border: 1px solid transparent;
    border-top-color: #666666;
    border-width: 6px 4px;
    top: 50%;
    margin-top: -2px;
    right: 4px;
}
.ui-select ul{
    position: absolute;
    z-index: 101;
    max-height: 300px;
    overflow-y: auto;
    /*border: 1px solid #141414;*/
    display: none;
    left: 0;
    right: 0;
    width: auto;
    background-color: #474747;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ui-select li{
    padding: 3px;
    margin-bottom: 2px;
}
.ui-select li.selected,
.ui-select li:hover{
    background: #54667d;
    color: white;
}
.ui-select>span img,
.ui-select li img{
    width: 5px;
    height: 5px;
}

tab{
    width: 100%;
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    position: relative;
}
.separator{
    position: relative;
}
.separator:before,
.separator:after,
tab:before,
tab:after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: -1px;
    left: 0;
    border-bottom: 1px solid #4a4a4a;
}
.separator:after,
tab:after{
    border-bottom: 1px solid #101010;
    bottom: -2px;
}

tab item{
    float: left;
    border-bottom: 3px solid rgba(0, 0, 0, 0);
    position: relative;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    height: 28px;
}
tab item.on{
    border-bottom-color: #2cc6f5;
    background: linear-gradient(to bottom, #46494a 0%, #1e2021 50%, #0f1010 100%);
}

tab item::before,
tab item:after {
    content: '';
    position: absolute;
    right: -1px;
    top: 24%;
    height: 60%;
    border-right: 1px solid #4a4a4a;
}
tab item:after{
    border-right: 1px solid #101010;
    right: -2px;
}

tab-content{
    position: absolute;
    top: 32px;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}
tab-content item{
    position: relative;
    display: none;
    height: 100%;
    overflow: auto;
}
tab-content item.on{
    display: block;
}
tab-content item resize-horizontal{
    position: absolute;
    height: 100%;
    width: 6px;
    cursor: ew-resize;
    z-index: 10;
    left: 100px;
    top: 0;
}
tab-content item resize-horizontal:after,
tab-content item resize-horizontal:before{
    content: '';
    position: absolute;
    border-left: 1px solid #0a0a0a;
    left: 2px;
    top: 10px;
    bottom: 10px;
    height: auto;
}
tab-content item resize-horizontal:after{
    left: 3px;
    border-color: #575757;
}
/* 设置滚动条的样式 {*/
::-webkit-scrollbar {
    width: 3px;
    height: 4px;
    position: absolute;
    right: 0;
    top: 0;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: #242424;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    /*border-radius: 10px;*/
    /*background: rgba(0,0,0,0.1);   */
    background-color: #5e5e5e;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
/*::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4);
}*/
/* 设置滚动条的样式 }*/

.frameless .main{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border: 1px solid #C2C2C2;
}
.frameless.shadow .main{
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    width: auto;
    height: auto;
    border: 1px solid #C2C2C2;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.frameless .title_wrap{
    position: relative;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, #414645 0%, #1a1d1c 50%, #1a1d1c 100%);
    color: white;
    text-indent: 10px;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 1px;
}
.frameless .title_wrap .titlebar{
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    right: 55px;
    top: 0;
}
.frameless .title_wrap:after{
    content: '';
    position: absolute;
    width: 4px;
    height: 60%;
    top: 20%;
    left: 0;
    background-color: #26c9ff;
}
.frameless .content_wrap{
    width: 100%;
    height: auto;
    position: absolute;
    top: 30px;
    bottom: 0;
    background-color: #313131;
    color: white;
}

/*关闭按钮 {*/
.btn_close{
    -webkit-app-region: no-drag;
    position: absolute;
    right: 8px;
    top: 0px;
    width: 43px;
    height: 20px;
    background: url(../img/btn_close.png) no-repeat center 0;
    cursor: pointer;
}
.btn_close:hover{
    background-position: center -23px;
}
/*关闭按钮 }*/

input[type=range] {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    margin: 0;
    border: none;
    background: #2a2a2a;
    box-shadow: inset 0 1px 0 0 #0d0e0f, inset 0 -1px 0 0 #3a3d42;
    outline: none;
    height: 10px;
    cursor: ew-resize;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 6px;
    height: 18px;
    border: none;
    background-image: linear-gradient(to bottom, #529de1 0, #26c9ff 100%);
}
/*editText {*/
.editText,
.editImg{
    background-color: #3e3e3e;
    border-radius: 5px;
    border: 1px solid #787878;
    width: 390px;
    padding: 10px;
    position: absolute;
    z-index: 12;
    left: 0;
    top: 100%;
    color: white;
    cursor: default;
    display: none;
    margin-top: 1px;
}
.editImg{
    width: 210px;
    height: 120px;
}
.editImg span{
    display: inline-block;
    width: 20px;
}
.editImg input{
    width: 60px;
}
.editImg .col2{
    float: left;
    width: 50%;
    margin: 5px 0;
}
.editImg .n_r{
    width: 155px;
}
.lock .editText:after{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: auto;
    height: 96px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 11;
}
.editText .row{
    margin: 4px 0;
}
.editText textarea{
    height: 45px;
    width: 368px;
    resize: vertical;
    line-height: 1.2;
    background-color: white;
    position: relative;
    border-radius: 2px;
}
.editText textarea::-webkit-resizer {
    /*outline: 1px dotted #000;*/
    /*width: 100%;
    height: 30px;
    cursor: default;
    background: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;*/
}
.s_fontfamily,
.s_fontsize{
    width: 70px;
}
.s_fontfamily,
.s_fontsize,
.fontsize_zoomin,
.fontsize_zoomout{
    margin-right: 7px;
}
.editText .ui-edit-btn{
    display: inline-block;
    width: 26px;
    height: 26px;
    min-width: 26px;
    min-height: 26px;
    background-image: url(../img/icon_edit.png);
    background-repeat: no-repeat;
    vertical-align: middle;
}
.ui-edit-btn.on{
    box-shadow: inset 0px 0px 1px white,0 0 1px #ccc;
    border-radius: 5px;
}
.fontsize_zoomin{
    background-position: -3px 0;
}
.fontsize_zoomout{
    background-position: -48px 0;
}
.fontweight{
    background-position: -88px -4px;
}
.fontstyle{
    background-position: -135px -4px;
}
.align_left{
    background-position: -183px -4px;
}
.align_center{
    background-position: -226px -4px;
}
.align_right{
    background-position: -270px -4px;
}
.wh_lock{
    background-position: -317px 0;
    margin-left: 4px;
}
.editText [type=number]{
    width: 60px;
}
.editText .col4{
    float: left;
    width: 23%
}
.editText .col4:last-child{
    width: 30%;
    text-align: right;
}
.editText .row2 .ui-edit-btn{
    margin-right: 29px;
}
/*editText }*/


/*暂时把窗口的透明圆角样式去除{*/
.frameless .main{
    border: 1px solid #515151;
}
.frameless.shadow .main,
.frameless .main{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
}  
.frameless canvas.br5{
    border-radius: 0;
}  
/*暂时把窗口的透明圆角样式去除}*/