#main{
	height: 100%;
	margin-top: 10px;
}
#c_top{
	position: relative;
	overflow: hidden;
	height: 32px;
	width: 98%;
	margin: 0 auto;
	top: 1px;
}
#c_top ul{
	overflow: hidden;
	padding-left: 5%;
}
#c_top li{
	padding: 0 5px;
	min-width: 80px;
	text-align: center;
	height: 28px;
	line-height: 28px;
	float: left;
	border: 1px solid #bbb;
	border-radius: 5px 5px 0 0;
	margin-right: 3px;
	margin-top: 2px;
	background-color: #eee;
}
#c_top li:hover{
	background-color: #eed;
}
#c_top li.on{
	margin-top: 0px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid white;
	background-color: white;
}

#c_bottom{
	width: 98%;
	margin: 0 auto;
	border: 1px solid #bbb;
	border-radius: 3px;
	padding-bottom: 10px;
	height: 350px;
	overflow: auto;
}
#c_bottom>fieldset{
	width: 94%;
	margin: 0 auto;
	display: none;
	border: none;
}
#c_bottom>fieldset>legend{
	display: none;
}
#c_bottom>fieldset.on{
	display: block;
}

fieldset {
	padding:10px;
	margin:10px;
	color:#333; 
	border:#ccc solid 1px;
	border-radius: 3px;
} 

.file_directory{
	position: relative;
	display: inline-block;
	height: 30px;
	width: 630px;
}
.file_directory input[type=file]{
	visibility: none;
	opacity: 0;
	width: 100%;
}
.file_directory div{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.text_file_dir{
	width: 570px;
}

#fieldset_file_rule{
	width: 92%;
}
#fieldset_file_rule li{
	overflow: hidden;
	margin: 5px 0;
}
.file_rule_prefix{
	float: left;
}
.file_rule_prefix label{
	width: 80px;
	display: inline-block;
}
#file_rule_1 input[type=text]{
	width: 30px;
}
#file_rule_example{
	margin-left: 5px;
	color: #bbb;
	margin-bottom: 20px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}
#file_rule_example span{
	text-decoration: underline;
}

.btns{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 30px;
}
.btns input{
	width: 100px;
	margin: 0 20px;
}

#fieldset_title input{
	vertical-align: top;
}
#fieldset_title label{
	vertical-align: top;
	display: inline-block;
	width: 70px;
}
#fieldset_title textarea{
	width: 400px;
	height: 80px;
}
#text_file_rule_custom{
	width: 260px;
}
#other_setting label{
	width: 66px;
	display: inline-block;
}

.row{
	margin: 10px 0;
}
#fieldset_file_select label{
	display: inline-block;
	width: 70px;
}
.label_newest_days{
	margin-left: 26px;
}
#number_newest_days{
	width: 40px;
}

#fieldset_legend table{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	border-radius: 5px;
}

#fieldset_legend tr:nth-child(2n+1){
	background-color: #ccc;
}
#fieldset_legend tr:nth-child(2n){
	background-color: #eee;
}
.legend_value label:first-child{
	margin-left: 0;
}
.legend_value div label{
	display: inline-block;
	margin-right: 3px;
	margin-left: 20px;
}
.legend_value input[type=number]{
	width: 50px;
}
.btn_gen_colors{
	margin-left: 20px;
}
.legend_left{
	float: left;
	width: 80%;
}
.legend_right{
	float: left;
	width: 20%;
}
.btn_dele_lengend{
	margin: 0 5px;
}
[contentEditable]:focus{
	background-color: white;
}
#text_out_filename{
	width: 400px;
}
.btns_legend_colors{
	width: 100%;
	text-align: center;
}
.btns_legend_colors input{
	width: 130px;
	margin: 3px 0;
}