.main{
	width: 90%;
	margin: 0 auto;
}
select{
	width: 55px;
	display: inline-block;
	margin-right: 5px;
}
input[type=time]{
	height: 18px;
	line-height: 18px;
}
.row{
	margin: 10px 0;
}
.row span.fl{
	margin-right: 5px;
}
.btns{
	width: 300px;
	margin: 0 auto;
	text-align: center;
	margin-top: 24px;
}
.btns input{
	width: 100px;
	margin: 0 20px;
}
#tree{
	width: 280px;
	border: 1px solid #ccc;
	height: 200px;
	overflow: auto;
}
.sizes{
	max-height: 66px;
	overflow: auto;
}
.type div{
	margin-bottom: 5px;
}