#main{
	height: 100%;
}
#c_top{
	background-color: #e3e3e3;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
	height: 100px;
	box-shadow: 0 3px 3px #ccc;
}
#c_top ul{
	overflow: hidden;
	padding-left: 10%;
	position: absolute;
}
#c_top li{
	min-width: 80px;
	text-align: center;
	height: 38px;
	line-height: 38px;
	float: left;
	border: 1px solid #bbb;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	margin-right: 3px;
	margin-top: 2px;
}
#c_top li.on{
	margin-top: 0px;
	height: 40px;
	line-height: 40px;
	background-color: #ccc;
}

#btn_quite{
	float: right;
	margin-right: 20px;
	color: #595959;
}
.c_bottom{
	overflow: hidden;
	position: relative;
	height: 100%;
}
#c_left{
	position: absolute;
	z-index: 999;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	overflow: auto;
	background-color: #d9d9d9;
}
#c_right{
	padding-left: 300px;
	overflow: auto;
}
#btn_setting{
	width: 300px;
	height: 96px;
	margin-top: 2px;
	border-right: 1px dotted #9e9e9e;
	background: url(../img/icon_setting.png) no-repeat center 10px;
	position: relative;
	cursor: pointer;
}
#btn_setting span{
	position: absolute;
	left: 50%;
	bottom: 13px;
	width: 100px;
	margin-left: -50px;
	text-align: center;
}

.btns_top{
	padding: 0 20px;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center 25px;
	position: relative;
	cursor: pointer;
}
.btns_top span,
#btn_quite{
	border: 1px solid #bcbcbc;
	border-radius: 3px;
	padding: 2px 3px;
	text-align: center;
	position: relative;
	top: 60px;
	background-color: #eaeaea;
}
#btn_add_text{
	background-image: url(../img/icon_text.png);
}
#btn_add_img{
	background-image: url(../img/icon_img.png);
}
#btn_export{
	background-image: url(../img/icon_export.png);
}
#tree{
	margin: 10px 0;
}
#geomap_container{
	width: 800px;
	height: 800px;
	/*border: 1px solid #333;*/
	/*background-color: #71B7FD;*/
	/*background-image: url(http://10.14.85.116/android/ChinaWeatherDecision_assets/assets/img/geomap/map.png);*/
	/*background-image: url(../img/world.jpg);*/
	/*background-position: -1076px -612px;*/
	/*background-size: 2540px 2141px;*/
	background-repeat: no-repeat;
	float: left;
	position: relative;
	overflow: hidden;
	margin: 10px 0 0 10px;
	box-shadow: 0 0 3px #333;
}
#geomap_container .loading{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 90;
	width: 100%;
	height: 100%;
}
#geomap_container .loading div{
	width: 120px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 50%;
	margin-left: -60px;
	top: 50%;
	margin-top: -15px;
	border: 1px solid #ccc;
	background-color: white;
	text-align: center;
}
.geomap_mirror{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	/*opacity: 0.5;*/
}
#geomap{
	width: 100%;
	height: 100%;
	position: relative;
	left: 0;
	top: 0;
}
#geomap.mirror{
	opacity: 0;
}

.geomap_mirror.ui-draggable-handle{
	cursor: url(../img/openhand.cur) 8 8, default !important;
}
.geomap_mirror.ui-draggable-dragging{
	cursor: url(../img/closedhand.cur) 8 8, move !important;
}
.geomap_mirror.ui-draggable-disabled{
	cursor: default !important;
}
#geomap_container:hover .map_tool{
	display: block;
}
.map_tool{
	position: absolute;
	right: 0;
	top: 0;
	z-index: 201;
	background-color: #494949;
	padding: 10px;
	display: none;
}
#map_tool_reset{
	background: url(../img/icon_reset.png) no-repeat center center;
	width: 25px;
	height: 25px;
	cursor: pointer;
}
/*#geomap,
#geomap_layer{
	width: 100%;
	height: 100%;
}
#geomap_layer{
	position: absolute;
	left: 0;
	top: 0;
}*/


/* jquery.texteditor { */
.texteditor{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 1;
	padding: 0 15px 5px 0;
	display: inline-block;
	border: 1px solid #ccc;
	z-index: 101;
}
.texteditor.off{
	z-index: 1;
	border: 1px solid rgba(0,0,0,0);
}
.texteditor.off .ui-resizable-e{
	cursor: default;
}
.texteditor.off .ui-resizable-s{
	cursor: default;
}
.texteditor.off .ui-icon-gripsmall-diagonal-se{
	background: none;
}
/* } jquery.texteditor */

/* 添加图片用和图片工具 ｛ */
.tool_image{
	position: fixed;
	right: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background: white;
	border: 1px solid #c9c9c9;
	display: none;
	overflow-y: auto;
	box-shadow: -2px 0 5px #ccc;
}
.tool_image select{
	width: 270px;
	margin: 10px auto;
	display: block;
}
.btn_close_tool_image{
	width: 100%;
	height: 14px;
	background-color: #999;
	color: white;
	box-shadow: 1px 1px 4px #333;
}
.btn_close_tool_image:after{
	content: '▲';
	position: absolute;
	left: 50%;
	top: -5px;
}
.tool_image li{
	float: left;
	width: 33.33%;
	margin: 10px auto;
	text-align: center;
}
.tool_image li img{
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
}
.tool_image li span{
	height: 40px;
	line-height: 20px;
	display: inline-block;
	word-break: break-all;
}
/* ｝ 添加图片用和图片工具 */

.map_layer{
	cursor: move;
}
.map_layer_image{
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
}
.map_layer_image:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px solid #ccc;
	left: -2px;
	top: -2px;
}
.map_layer_image.off:after{
	display: none;
}
.map_layer_image.off .ui-resizable-e{
	cursor: default;
}
.map_layer_image.off .ui-resizable-s{
	cursor: default;
}
.map_layer_image.off .ui-icon-gripsmall-diagonal-se{
	background: none;
}
.map_layer_image img{
	width: 100%;
	height: 100%;
}