* {
  -webkit-user-select: none;
  cursor: default;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*html,body{
	height: 100%
}*/
body {
	padding: 0px;
	margin: 0px;
	border: 0;
	background-color: #fff;
	color: #252525;
	-webkit-font-smoothing: antialiased
}
/*对表单元素进行中文处理*/
body,
input, textarea, select, button{
	font: 14px/1.6 "Microsoft Yahei", "SimSun", "宋体", "Arial", "HELVETICA", "sans-serif", "Tahoma";
}
input[type=text],
input[type=color],
input[type=date],
input[type=number],
textarea{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
}
input[type=text],
input[type=number],
input[type=password]{
	padding-left: 3px;
	padding-right: 3px;
}
input[type=text]:focus{
	border: 1px solid #ccc;
}
select{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 24px;
	line-height: 24px;
}
input[type=checkbox],
input[type=radio]{
	vertical-align: -2px;
}
input[type=text]:hover, textarea:hover{
	cursor: text;
}
/*去掉得到焦点时的黄色边框*/
.no_outline,
input,button,select,textarea{outline:none}
/*不可放大缩小*/
textarea{resize:none}
ul,ol{
	/*
	IE6 IE7 IE8(Q) 中如果列表元素设置 'list-style-type:none' 时 'list-style-position:inside' 设置产生的标记框不消失，依然占据布局位置。
	http://www.w3help.org/zh-cn/causes/RG1002
	*/
	list-style:outside none none;
	padding: 0;
	margin: 0;
}
.clear{
	clear: both;
	overflow: hidden;
}
.admin{
	/*display: none;*/
}
.mt10{
	margin-top: 10px;
}