* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
[draggable=true] {
  -khtml-user-drag: element;
}
/*html,body{
	height: 100%
}*/
body {
	padding: 0px;
	margin: 0px;
	border: 0;
	background-color: #fff;
	color: #252525;
	-webkit-font-smoothing: antialiased;
	/*background: -webkit-gradient(linear,0 0, 0 100%, color-stop(0,black), color-stop(0.8, rgb(150,150,150)), color-stop(1, rgb(200,200,200)));*/
}

/*对表单元素进行中文处理*/
body,
input, textarea, select, button{
	font: 14px/1.6 "Microsoft Yahei", "SimSun", "宋体", "Arial", "HELVETICA", "sans-serif", "Tahoma";
}
input[type=text],
input[type=color],
input[type=date],
input[type=number],
textarea{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 20px;
	line-height: 20px;
}
input[type=text],
input[type=number],
input[type=password]{
	padding-left: 3px;
	padding-right: 3px;
}
input[type=text]:focus{
	border: 1px solid #ccc;
}
select{
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 24px;
	line-height: 24px;
}
input[type=checkbox],
input[type=radio]{
	vertical-align: -2px;
}
input[type=text]:hover, textarea:hover{
	cursor: text;
}
/*去掉得到焦点时的黄色边框*/
.no_outline,
input,button,select,textarea,
[contenteditable=true]{outline:none}
/*不可放大缩小*/
textarea{resize:none}
ul,ol{
	/*
	IE6 IE7 IE8(Q) 中如果列表元素设置 'list-style-type:none' 时 'list-style-position:inside' 设置产生的标记框不消失，依然占据布局位置。
	http://www.w3help.org/zh-cn/causes/RG1002
	*/
	list-style:outside none none;
	padding: 0;
	margin: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
	overflow: hidden;
}
.admin{
	/*display: none;*/
}
.mt10{
	margin-top: 10px;
}

/* 图例 { */
.legend_tmp{
	position: fixed;
	left: 100%;
	top: 100%;
	z-index: -100;
	/*top: 0;*/
	width: 100%;
	height: 100%;
}
.legend_landscape{
	width: 100%;
	font-size: 20px;
	font-weight: bold;
}
.legend_landscape ul{
	overflow: hidden;
}
.legend_landscape li{
	float: left;
	height: 30px;
	width: 12.5%;
}
.legend_landscape li div{
	background-color: red;
	width: 100%;
	height: 100%;
}
.legend_landscape li span{
	width: 100%;
	height: 100%;
	line-height: 30px;
	text-align: center;
	float: left;
	margin-top: -30px;
}

.legend_portrait{
	position: relative;
	overflow: hidden;
	width: auto;
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
}
.legend_portrait>div{
	overflow: hidden;
}
.legend_portrait>div span{
	width: 45%;
	margin-right: 20px;
	float: left;
	height: 100%;
}
.legend_portrait ul{
	float: left;
	margin-right: 20px;
}
.legend_portrait li{
	text-align: center;
	margin-bottom: 2px;
	height: 16px;
	line-height: 16px;
}
.legend_portrait li div{
	float: left;
	width: 30px;
	height: 100%;
	background-color: red;
	margin-right: 2px;
}
/* } 图例 */